@*
    @model List<ObjetoEscuelaBase>
*@

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>                    
                <td>@obj.Id</td>
                <td>@obj.Nombre</td>
            </tr>   
        }            
    </tbody>
</table>