@model IEnumerable<Alumno>

@{
    ViewData["Title"] = "Información de Alumnos";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>    
    <partial name="ListaObjetoEscuelaBase">
    <p><i>@ViewBag.Fecha</i></p>
</div>